<%= content_for :title, "Fale Conosco" %>
<%= content_for :descricao, "Entre em contato conosco através de nosso formulário de contato" %>

  <div class="container sections-wrapper">
  <div class="row">



  <div class="primary col-md-12 col-sm-12 col-xs-12">
  <section class="about section">
    <ol class="breadcrumb">
      <li><i class="fa fa-home"></i> <a href="<%= root_url %>">Home</a></li>

    </ol>
  <div class="section-inner">

    <h2>Formulário de Contato</h2>
    <div class="content">

 <div class="row">

<p>
  <div id="contact">

<%= render "form", :resource => @message %>


</div>
</p>

 </div>


    </div><!--//content-->

  </div><!--//section-inner-->
  </section><!--//section-->




  </section><!--//section-->
  </div><!--//primary-->
</div>
</div>
