<div class="text-6xl font-semibold text-white leading-none">Marvio Rocha </div>
<div class="mt-6 text-xl font-light text-white antialiased">Full Stack | Development</div>

<div class="mockup-code mt-5">
    <pre data-prefix="$"><code>touch marviorocha.rb</code></pre>
    <pre data-prefix="$" class="text-warning" ><code>git add marviorocha.rb</code></pre>
    <pre data-prefix="$" class="text-warning" ><code>git commit -m "add: developer full stack ruby on rails"</code></pre>
    <pre data-prefix="$" class="text-warning" ><code>git push ...</code></pre>
    <pre   class="text-success"><code><a class="mx-auto" target="_blank" href="https://linkedin.com/in/marviorocha"> # => Now browse to linkedin.com/in/marviorocha</a></code></pre>
</div>

                   