<h2 class="heading sr-only">Basic Information</h2>
<div class="content">
    <ul class="list-unstyled">
        <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Macaé, RJ</li>
        <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">marviorocha@marviorocha.com</a></li>
        <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="#">http://www.marviorocha.com</a></li>
    </ul>
</div><!--//content-->
