
	<section id="fh5co-work" data-section="work">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">Work</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row row-bottom-padded-sm">
				<% @post.each do |post| %>
				<div class="col-md-4 col-sm-6 col-xxs-12">
					<a href="<%= post.image.url %>" class="fh5co-project-item image-popup to-animate">
						<%= image_tag(post.image.url, alt: post.title, class: "img-responsive") %>
						<div class="fh5co-text">
						<h2><%= post.title %></h2>
						<span>Data: <%= post.created_at.strftime("%d-%m-%Y") %></span>
						</div>
					</a>
				</div>
				<% end %>

				<div class="clearfix visible-sm-block"></div>



				<div class="clearfix visible-sm-block"></div>




				<div class="clearfix visible-sm-block"></div>



				<div class="clearfix visible-sm-block"></div>


			</div>
			<div class="row">
				<div class="col-md-12 text-center to-animate">

				</div>
			</div>
		</div>
	</section>
