// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-form-text-area {
  color: black;
}
.hidden { display: none; }
.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
font-size: .8em;
}

.message {

padding-bottom:5px;
 display:block;


}
.field_with_errors {
  color: #b94a48;
  font-size: .8em;


}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
font-size: .8em;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: center;
font-size: .8em;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
font-size: .8em;
}

// Form contact materialize

header, form {
  padding: 4em 10%;
}

header {
  background-color: #077ABC;
  color: white;
}
header h1 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 10px;
}
header h1 i {
  color: #055a8b;
}
header h1 span {
  font-weight: 300;
}
header p {
  font-weight: 400;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: .05em;
  margin-bottom: 10px;
}
header h3,
header h3 a {
  color: #32CCFE;
}
header h3 a,
header h3 a a {
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
header h3 a:hover,
header h3 a a:hover {
  color: white;
}

.contact-form{ margin-top:15px;  margin-bottom: 20px;}
.contact-form .textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px; margin-bottom: 5px;}
.form-control:focus{ box-shadow:none; border-color:#00b09c;}
.form-control-feedback{ line-height:50px;}

.form-control-feedback {
line-height: 50px;
top: 0px;
}

.controls input[type="text"]:focus + label, .controls input[type="text"]:hover + label,
.controls input[type="email"]:focus + label,
.controls input[type="email"]:hover + label,
.controls input[type="tel"]:focus + label,
.controls input[type="tel"]:hover + label,
.controls textarea:focus + label,
.controls textarea:hover + label,
.controls button:focus + label,
.controls button:hover + label,
.controls select:focus + label,
.controls select:hover + label {
  color: #077ABC;
  cursor: text;

}
.controls .fa-sort {
  position: absolute;
  right: 10px;
  top: 17px;
  color: #999;
}
.controls select {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}



.controls button {
  cursor: pointer;
  background-color: #07B3A1;
  border: none;
  color: #fff;
  padding: 12px 0;
}
.controls button:hover {
  background-color: #08ccb7;
}
