
 <header role="banner" id="fh5co-header">
     <div class="container">
       <!-- <div class="row"> -->
         <nav class="navbar navbar-default">
           <div class="navbar-header">
             <!-- Mobile Toggle Menu Button -->

         <a href="<%= root_url %>" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <a class="navbar-brand" href="<%= root_url %>">
              <%= @site.logo? ? image_tag(@site.logo, size:"180x60", alt: "logo #{@site.title}")
               : {span: "Late"} %></a>
           </div>
           <div id="navbar" class="navbar-collapse collapse">

          <%= render "shered/nav" %>

           </div>
         </nav>
       <!-- </div> -->
     </div>
 </header>
