<ul class="nav navbar-nav navbar-right">
  <li class="active"><a href="#" data-nav-section="home"><span>Home</span></a></li>
  <li><a href="#" data-nav-section="work"><span>Work</span></a></li>
  <li><a href="#" data-nav-section="testimonials"><span>Testimonials</span></a></li>
  <li><a href="#" data-nav-section="services"><span>Services</span></a></li>
  <li><a href="#" data-nav-section="about"><span>About</span></a></li>
  <li><a href="#" data-nav-section="contact"><span>Contact</span></a></li>
</ul>
