---
layout: default
---

<div class="min-h-screen min-w-full flex flex-col justify-center p-10">
    <div class="relative w-full max-w-full lg:max-w-6xl   mx-auto">
       
        <div class="relative">

<!--            <div class="flex items-center justify-start pt-6 pl-6">-->
<!--                <span class="w-3 h-3 bg-red-400 rounded-full mr-2"></span>-->
<!--                <span class="w-3 h-3 bg-yellow-400 rounded-full mr-2"></span>-->
<!--                <span class="w-3 h-3 bg-green-400 rounded-full mr-2"></span>-->
<!--            </div>-->

            <div class="px-20 py-6">


                <!-- hero section -->
                <div class=" text-left">
                    <div class="text-6xl font-semibold text-white leading-none">Marvio Rocha </div>
                    <div class="mt-6 text-xl font-light text-white antialiased">Full Stack | Development</div>

                         <div class="mockup-code mt-5">
                             <pre data-prefix="$"><code>touch marviorocha.rb</code></pre>
                             <pre data-prefix="$" class="text-warning" ><code>git add marviorocha.rb</code></pre>
                             <pre data-prefix="$" class="text-warning" ><code>git commit -m "add: developer full stack ruby on rails"</code></pre>
                             <pre data-prefix="$" class="text-warning" ><code>git push ...</code></pre>
                             <pre   class="text-success"><code><a class="mx-auto" target="_blank" href="https://linkedin.com/in/marviorocha"> # => Now browse to linkedin.com/in/marviorocha</a></code></pre>
                             <pre date-prefix=">" ><code>================================================================================</code></pre>

                         </div>

                   
                </div>
                <div class="mt-max-h-full lg:mt-auto   text-center">

                    <footer class="footer footer-center p-4 mt-12 text-white text-base-content">
                        <div>
                            <p>Copyright ©  {{ "now" | date: "%Y" }} All right reserved | Website make with ♥️ by MarvioRocha.com </p>
                        </div>
                    </footer>
                      

                </div>

                <!-- /hero section -->

            </div>
        </div>
    </div>
</div>