---
layout: default
---

<div class="min-h-screen min-w-full flex flex-col justify-center p-10">
    <div class="relative w-full max-w-full lg:max-w-6xl   mx-auto">
       
        <div class="relative">

<!--            <div class="flex items-center justify-start pt-6 pl-6">-->
<!--                <span class="w-3 h-3 bg-red-400 rounded-full mr-2"></span>-->
<!--                <span class="w-3 h-3 bg-yellow-400 rounded-full mr-2"></span>-->
<!--                <span class="w-3 h-3 bg-green-400 rounded-full mr-2"></span>-->
<!--            </div>-->

            <div class="px-20 py-6">


                <!-- hero section -->
                <div class=" text-left">
                   {% include main.html %}
                </div>

                {% include social.html %}

                {% include footer.html %}


            </div>
        </div>
    </div>
</div>